<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading text-uppercase text-muted bg-dark text-white p-3">Menu</div>
    <div class="list-group list-group-flush">
      <a routerLink="/dashboard" class="list-group-item list-group-item-action bg-light">
        <i class="bi bi-speedometer2 mr-2"></i> Dashboard
      </a>
      <a href="#" class="list-group-item list-group-item-action bg-light">
        <i class="bi bi-box-seam mr-2"></i> Projects
      </a>
      <a href="#" class="list-group-item list-group-item-action bg-light">
        <i class="bi bi-people mr-2"></i> Teams
      </a>
    </div>
  </div>
  